.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.home { 
  color: #fff;
  left: 3.1%;
  top: 1%;
  position: absolute;
  z-index: 1;
}

.home:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.home:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: lightblue;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 0.1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  min-height: 100vh;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.webcam{
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  align-items: center;
}

.img-usc{
  display: flex;
  grid-area: 2 / 1 / 3 / 2;
  display: flex;
  justify-content: center;

}

.imagemA{
  position: absolute; 
  top: 5%; 
  left: 2%;
}

.imagemLousa{
  position: absolute;
  bottom: 24px;
  left: -6px;
  z-index: -1;
}

.imagemEuteAmo{
  position: absolute; 
  top: 55%; 
  left: 2%;
}

.imagemR{
  position: absolute; 
  top: 55%; 
  right: 2%;
}

.imagemI{
  position: absolute; 
  top: 5%; 
  right: 2%;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
