@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner&family=Schoolbell&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }

  .titulo{
    font-family: 'Fredericka the Great', cursive;
    margin-top: 8%;
    font-size: 28px;
    padding-top: 25px;
    /* font-family: 'Edu VIC WA NT Beginner', cursive; */
    /* font-family: 'Schoolbell', cursive; */
  }

  .texto{
    /*font-family: 'Fredericka the Great', cursive;*/
    margin-top: 5%;
    font-size: 21px;
    padding-left: 40px;
    padding-right: 40px;
    /* font-family: 'Edu VIC WA NT Beginner', cursive; */
    text-align: justify;
    /* font-family: 'Schoolbell', cursive; */
    font-family: 'Montserrat', sans-serif;
  }

  .home-Sobre { 
    color: #fff;
    left: 32.1%;
    top: 18%;
    position: absolute;
    z-index: 1;
  }
  
  .home-Sobre:hover {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
  }
  
  .home-Sobre:focus {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
  }

  .App-header {
    background-color: lightblue;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  
    min-height: 100vh;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  .webcam{
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    align-items: center;
  }
  .teste{
    display: flex;
    grid-area: 2 / 1 / 3 / 2;
    display: flex;
    justify-content: center;
  
  }
  .imagemA{
    position: absolute; 
    top: 5%; 
    left: 2%;
  }
  .imagemEuteAmo{
    position: absolute; 
    top: 55%; 
    left: 2%;
  }
  .imagemR{
    position: absolute; 
    top: 55%; 
    right: 2%;
  }
  
  .imagemI{
    position: absolute; 
    top: 5%; 
    right: 2%;
  }

  .webcam{
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    z-index: 1;
    align-items: center;
  }


.p{
  margin-bottom: 5px;
}

.imagemLousa{
  position: absolute;
  top: 15%;
  left: 30.5%;
}


.canvas{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    width: 740;
    height: 580;
}